$main-orange: #ffa255; //
$main-color: $main-orange;
$near-black: #1a1a1a; 
$text-font: #574D46;
$dark-grey: #595959; //
$light-grey: #999999; //
$soft-white: #fdfdfd; //
$accent-backup: #339999;
$accent: #ffe255;

#root, body {
  font-size: 20px;
  width: 100%;
}

* {
  color: $text-font;
}

.hide {
  display: none;
}

#root .btn.btn-primary {
  background-color: $main-color;
  &:active, &:focus {
    background-color: $main-color;
    outline-color: $main-color;
    border-color: $main-color;
    box-shadow: 0 0 0 0.2rem $main-color;
  }
  border-color: $main-color;
  color: $text-font;
}

input.form-control {
  outline-color: $light-grey;
  border: none;
  border-bottom: solid $main-color 2px;
  background-color: $soft-white;
  &:focus, &:active {
    border-color: $main-color;
    box-shadow: 0 0 0.2rem $main-color;
  }
}

#form div.form-group {
  width: 75%;
}

nav {
  background-color: $accent;
}


.main-area {
  background-image: url("/img/wallpaper.jfif");
  height: calc(100vh - 62px);
  background-repeat: none;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.content-container {
  background-color: $soft-white;
}


@media (max-width: 750px) {
  #root .content-container {
    width: 80% !important;
  }
  #root .add-container {
    justify-content: center !important;
  } 
  #form .form-group {
    width: 100% !important;
  }
}

#root .list-group-item {
  background-color: $soft-white;
  border: none;
  border-top: 2px solid rgba(0,0,0,.125);
}

#root a:first-child > .list-group-item {
  border: none;
}

#form .list-group-item:first-child {
  border: none;
}

#form .list-group-item {
  padding: 0.5rem 1.25rem;
}

#root .prevent-link-css {
  &:hover {
    text-decoration: none;
  }
}

#form .custom-select:focus {
  border-color: $main-color;
  box-shadow: 0 0 0 0.2rem $main-color;
}